<router-outlet></router-outlet>

<div class="scaled">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/moneda.png" class="d-block w-100" alt="moneda">
        </div>
        <div class="carousel-item">
          <img src="/assets/moneda1.png" class="d-block w-100" alt="moneda1">
        </div>
        <div class="carousel-item">
          <img src="/assets/moneda2.png" class="d-block w-100" alt="moneda2">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container1" >
<div class="logo">
    <img src="/assets/logo1.png" alt="Revolution">
  </div>
    <div class="space">
    <h1>¡Welcome to Revolution!
      <br>
      <h3>
        The application where
        <br>
        you can buy and
        <br>
        sell all the currencies
      <br>
         of the world in an easy,
         <br>
         fast and safe way...
    </h3>
    </h1>
</div>
    <div class="boton">
    <mat-card-actions>
      <div class="btncontainer">
          <a href="signup"><button class="btn">Sign Up</button></a>
          </div>
    </mat-card-actions>
    </div>
</div>

  <body>

    <div class="boxwork" >
    <h2 class="titleW">Work team</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="/assets/Karla.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Karla Ávila</h5>
        <p class="card-text">Commercial Director</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/Will.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Will Palacios</h5>
        <p class="card-text">Marketing Director</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/Andres.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Andrés Aguilar</h5>
        <p class="card-text">Graphic Designer</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/Wilson.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wilson Vega</h5>
        <p class="card-text">Public Relacionist</p>
      </div>
    </div>
  </div>
</div>
</div>
      <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/assets/logo1.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>ABOUT US</h2>
                <h4>Our vision is to be the leading company in the commercialization of coins in the world free market in a professional manner, with experience, solidity and support to provide the client with the greatest satisfaction, guarantee and security.</h4>
            </div>
            <div class="box">
                <h2>FOLLOW US</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/Revolutionapp.22" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/revolution.app/" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <div class="contact">
                    <h4>revolutionx888@gmail.com</h4>
                    <h4>+57 321 855 28 79</h4>
                  </div>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>Revolution</b> - All rights reserved.</small>
        </div>
    </footer>


</body>