<mat-toolbar >
  <ul>
  <img class="logo" src="/assets/logo1.png" alt="logo">
</ul>
  <mat-toolbar>
    <ul><a *ngIf="!_authservice.isLogged()" mat-button routerLink="task">Home</a></ul>
  
    <ul class="resto" >
      <a *ngIf="!_authservice.isLogged()" mat-button routerLink="signup">Sign Up</a>
      <a *ngIf="!_authservice.isLogged()"mat-button routerLink="login">Login</a>
      <a *ngIf="_authservice.isLogged()" (click)="_authservice.logout()" class="logout" mat-button>Logout</a>
    </ul>
  </mat-toolbar>
  </mat-toolbar>
