<div class="videobanner">
<iframe src="/assets/videobanner.gif" frameborder="0"></iframe>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card ">
            <p class="title">Dollar</p>
            <div class="pricecontainer">
              <p class="price">$ 3.842,50</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
             <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Euro</p>
            <div class="pricecontainer">
              <p class="price">$ 4.148,94</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>
          
          <div class="card">
            <p class="title">Roblo Ruso</p>
            <div class="pricecontainer">
              <p class="price">$ 49,74</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="card">
            <p class="title">Won Surcoreano</p>
            <div class="pricecontainer">
              <p class="price">$ 3,09</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Jamaican Dollar</p>
            <div class="pricecontainer">
              <p class="price">$ 24,82</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Rupia Dollar</p>
            <div class="pricecontainer">
              <p class="price">$ 50,23</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="card">
            <p class="title">Australian Dollar</p>
            <div class="pricecontainer">
              <p class="price">$ 2.783,67</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Brazilian Real</p>
            <div class="pricecontainer">
              <p class="price">$ 801,04</p>
            </div>
            <p class="includes">Pesos Colombianos</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Ppund Esterling</p>
            <div class="pricecontainer">
              <p class="price">$ 4.923,45</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="card">
            <p class="title">Esloty</p>
            <div class="pricecontainer">
              <p class="price">$ 891,15</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Czech Koruna</p>
            <div class="pricecontainer">
              <p class="price">$ 170,41</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Bitcoin</p>
            <div class="pricecontainer">
              <p class="price1">$ 152.154.685,30 </p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>
</div>
<div class="separate">
<div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="card">
            <p class="title">Chinese Yuan</p>
            <div class="pricecontainer">
              <p class="price">$ 590,77 </p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>

          <div class="card">
            <p class="title">Chilean Peso</p>
            <div class="pricecontainer">
              <p class="price">$ 4,59</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>
          <div class="card">
            <p class="title">Canadian Dollar</p>
            <div class="pricecontainer">
              <p class="price">$ 3101,20</p>
            </div>
            <p class="includes">COP</p>
            <div class="btncontainer">
                <a href="comprar"><button class="btn">Pay</button></a>
            </div>
          </div>
</div>
</div>



<footer class="pie-pagina">
  <div class="grupo-1">
      <div class="box">
          <figure>
              <a href="#">
                  <img src="/assets/logo1.png" alt="logo">
              </a>
          </figure>
      </div>
      <div class="box">
          <h2>ABOUT US</h2>
          <h4>Our vision is to be the leading company in the commercialization of coins in the world free market in a professional manner, with experience, solidity and support to provide the client with the greatest satisfaction, guarantee and security.</h4>
      </div>
      <div class="box">
          <h2>FOLLOW US</h2>
          <div class="red-social">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
              <div class="contact">
              <h4>revolutionx88@gmail.com</h4>
              <h4>+57 321 855 28 79</h4>
            </div>
          </div>
      </div>
  </div>
  <div class="grupo-2">
      <small>&copy; 2022 <b>Revolution</b> - All rights reserved.</small>
  </div>
</footer>

<router-outlet></router-outlet>


