.cardContainer {
    width: 500px;
    height: 100px;
    position: fixed;
    right: 60px;
    bottom: 20rem;
    z-index: 999999;
    margin-bottom: 50px;
  }
  
  .cardContainer-icon {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    z-index: 999999;
    margin-bottom: 90px;
  }
  
  .cardContainer-icon:hover {
    transition: transform 330ms ease-in-out;
    transform: scale(0.9);
  }
  
  .card-header {
    background-color: #FF8692;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
    font-family: 'Signika', sans-serif;
  }
  
  .card-body {
    padding: 0.5rem;
    background-color: #E5EAF5;
    min-height: 300px !important;
    max-height: 300px !important;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Signika', sans-serif;
  }
  
  .imgEnviar:active {
    transform: scale(0.9);
  }
  
  .enviado {
    display: block;
    float: right;
    background-color: #81c8ff;
    color: rgb(255, 255, 255);
    min-width: 50.01%;
    max-width: 100.01%;
    border-radius: 50px;
    text-align: right;
    text-align: center;
    font-family: 'Signika', sans-serif;
  }
  
  .recibido {
    display: block;
    float: right;
    background-color: #92A5FB;
    color: rgb(255, 255, 255);
    min-width: 100.01%;
    max-width: 100.01%;
    max-height: 100.01%;
    border-radius: 50px;
    text-align: center;
    font-family: 'Signika', sans-serif;
  }
  .form-control{
    height: 25px;
    width: 480px;
  }